/*
!/.gitignore
!/README.md
!/LICENSE
!/PowerToolbar/
/PowerToolbar/*
!/PowerToolbar/*.cpp
!/PowerToolbar/*.h
!/PowerToolbar/*.sln
!/PowerToolbar/*.vcxproj
!/PowerToolbar/*.vcxproj.filters
!/PowerToolbar/*.rc
!/PowerToolbar/*.manifest
!/PowerToolbar/PowerToolbar.ico
!/PowerToolbar/PowerToolbar-tray.ico
!/.github/
/.github/*
!/.github/images/
/.github/images/*
!/.github/images/overview.png
!/.github/images/fullscreen-reveal.png
